{
  "presets": [
    ["es2015", { "modules": false }],
    "react",
    "stage-0"
  ],
  "plugins": [
    "external-helpers",
    ["module-resolver", {
      "root": ["./src"]
    }]
  ],
  "env": {
    "development": {}
  }
}